body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #e3677c 30%, #3fcda4 70%);
    text-align: center;
    min-height: 100vh;
}

h1 {
    font-size: 36px;
    color: #080808;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    color: #080808;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
    flex-wrap: wrap; 
    flex: 1;
}

.role {
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    flex: 1 1 calc(33.333% - 40px); 
    margin: 20px;
    max-width: 200px;
}

.role:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.role img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #333;
}

.role p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #080808;
}

/* About Us Section */
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #fdfdfd;
    height: auto;
    flex: 1;
    flex-wrap: wrap;
}

.about-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.about-text {
    width: 100%;
    max-width: 600px;
    text-align: left;
}

.about-text h2 {
    font-size: 28px;
    margin-bottom: 20px;
}


.about-text p {
    font-size: 18px;
    line-height: 1.6;
}

footer {
    background: rgba(86, 85, 84, 0.5); /* 50% opacity */
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
    flex-shrink: 0; /* Prevent the footer from shrinking */
    box-sizing: border-box; /* Ensure padding is accounted for in width */
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .role img {
        width: 100px; 
        height: 100px; 
        object-fit: cover;
        border-radius: 10px;
        border: 2px solid #333;
    }
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 10px;
    }

    .container {
        flex-direction: column;
    }

    .role {
        flex: 1 1 80%;
        max-width: 100%;
    }

    .about-section {
        flex-direction: column;
        text-align: center;
        min-height: 60vh; 
    overflow: auto;
    }

    .about-image {
        margin-right: 0;
    }

    .about-text {
        text-align: center;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
        margin-top: 10px;
    }

    h2 {
        font-size: 18px;
    }

    .role p {
        font-size: 16px;
    }

    .about-text h2 {
        font-size: 24px;
    }

    .about-text p {
        font-size: 16px;
    }

    footer {
        padding: 8px;
    }
}
